* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


button {
    cursor: pointer;
}

body {
    background: rgb(2,0,12);
    background: rgba(0,212,255,1);
} 


/* Media Queries */
/* mobile screens */
@media (min-width: 320px) {
    
}